.App {
    background-color: #282c34;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    margin-left: 15px;
    margin-right: 15px
}

.content {
    margin-bottom: 15px;
}

.logo {
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.program-title {
    color: #00FF00;
    font-size: xx-large
}

.smaller-program-title {
    font-weight: normal;
    font-size: x-large;
    font-style: italic;
}

.spec-pane, .result-pane {
    display: inline-block;
    vertical-align: top;
}

.spec-pane {
    min-width: 29vw;
    max-width: 29vw;

}

.result-pane {
    min-width: 69vw;
    max-width: 69vw;
}

.spec-inner, .result-inner {
    background-color: #3A3D45;
    padding: 5px;
}

.spec-inner {
    overflow-y: auto;
    height: 850px;
    margin-left: 15px;
    margin-right: 7px;
    border-top: solid 2px #009900;
    border-bottom: solid 2px #009900;
}

.result-inner {
    overflow-y: auto;
    height: 850px;
    margin-left: 7px;
    margin-right: 15px;
    border-top: solid 2px #009900;
    border-bottom: solid 2px #009900;
}

.spec-title {
    margin-top: 10px;
    color: white;
    text-align: center
}

.result-title {
    margin-top: 10px;
    color: white;
    text-align: center
}

.add-step-button {
    float: right;
    background-color: transparent;
    color: #AAA;
    font-weight: bold;
    font-size: x-large
}

.delete-step-button {
    float: right;
    background-color: transparent;
    color: #AAA;
    font-weight: bold;
    font-size: medium
}

.open-result-button {
    float: right;
    background-color: transparent;
    color: #AAA;
    font-weight: bold;
    font-size: medium
}

.minimize-step-button {
    float: right;
    background-color: transparent;
    color: #AAA;
    font-weight: bold;
    font-size: medium;
    margin-right: 1em;
}

.spec-button {
    float: left;
    background-color: transparent;
    color: #AAA;
    font-weight: bold;
    font-size: x-large
}

.step-spec {
    margin-top: 0.5em;
    font-size: small;
    background-color: #282c34;
    padding: 0.25em;
    border: 1px solid #009900;
}

.step-spec-id {
    color: #00FF00;
    font-size: small;
}

.step-spec-field {
    font-size: small;
    margin-top: 0.25em;
}

.step-spec-field-heading {
    display: block;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    width: 7em;
    padding-right: 1em;
    vertical-align: top
}

.step-spec-field-text {
    display: block;
    text-align: left;
    padding-left: 8em;
    vertical-align: top
}

.step-spec-field-label {
    display: block;
    float: left;
    text-align: right;
    font-style: italic;
    width: 7em;
    padding-right: 1em;
    vertical-align: top
}

.step-spec-collapsed {
    text-align: center;
}

.run-button {
    float: left;
    background-color: transparent;
    color: #AAA;
    font-weight: bold;
    font-size: x-large
}

.clear-results-button {
    float: right;
    background-color: transparent;
    color: #AAA;
    font-weight: bold;
    font-size: x-large
}

.display-result {
    margin-top: 0.5em;
    font-size: large;
    background-color: #282c34;
    padding: 0.25em;
    border: 1px solid #009900;
}

.display-result-id {
    font-size: large;
    color: #00FF00
}

.display-result-value {
    margin-top: 10px;
    font-size: small;
    font-family: monospace;
    word-wrap: normal;
}

.no-value {
    font-weight: bold;
    color: #FF6666;
}

.run-issues {
    color: #FF6666;
    font-size: small
}

button:disabled {
    color: #555
}

input {
    font-size: small
}

textarea {
    font-size: small
}

select {
    font-size: small
}

.display-issues {
    margin-top: 1em;
    font-size: large;
    background-color: #282c34;
    padding: 0.5em;
    border: 1px solid #990000;
}

.display-issue {
    font-size: small
}

.display-issues-title {
    color: #FF6666
}
